@model IEnumerable<Models.Food>

@foreach (var food in Model)
{
    <div class="col">
        <div class="food-card">
            <img src="data:image/png;base64,@Convert.ToBase64String(food.BannerImage)" class="img-fluid" alt="@food.FoodName" />
            <div class="card-body">
                <div>
                    <h5 class="card-title">@food.FoodName</h5>
                    <p class="card-text">
                        @if (!string.IsNullOrEmpty(food.FoodDesc))
                        {
                            @food.FoodDesc
                        }
                        else
                        {
                            <span>No description available.</span>
                        }
                    </p>
                </div>
                <div class="price-and-buttons">
                    <span class="food-price">₹ @food.FoodAmount</span>
                    <div>
                        <a class="btn btn-details" asp-controller="Home" asp-action="FoodDetails" asp-route-FoodID="@food.FoodId">Details</a>
                        <a class="btn btn-add-to-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-FoodID="@food.FoodId">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
